<h3>React Comment Tutorial with Ruby on Rails 4</h3>
Using:
<a href="https://facebook.github.io/react/">React.js</a>,
<a href="http://rubyonrails.org">Ruby on Rails</a>,
<a href="https://github.com/reactjs/react-rails">react-rails</a>,
<a href="http://momentjs.com">Moment.js</a>
<hr />
<%= react_component('CommentBox', {url: comments_url, createUrl: comments_create_url}) %>
