<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>React Comment Tutorial with Rails</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet"> 
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <style type="text/css" media="all">
    .comment { border-bottom: 1px dotted #ddd; margin-bottom: 10px; }
    .commentAuthor { margin-bottom: 5px; font-size: 12px; }
  </style>
</head>
<body>
  <div class="content">
    <div class="col-xs-12">
      <%= yield %>
    </div>
  </div>
</body>
</html>
